@font-face {
    font-family: "River";
    src: url(River\ Adventurer.ttf);
}

body{
    background-color: bisque;
}

h2{
    text-align: center;
}


header{
    color: red;
    font-family: River;
    border-style:solid;
    border-width: 20px;
    border-radius: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style: groove;
    border-color: orangered;
    border-width: 40px;
}

h1{
    font-size:100px;
    text-align: center;
}   

p{
    flex: 1;
    justify-content:center;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#272626;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    position: sticky;
    top:0;
}

ul li a{
    display: block;
    color:#3d96df;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #635858;
    border-radius: 8px;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: dark;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
    left: -10%;
}


/* Position the "next button" to the right */
.next {
  right: -9%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0c0c0c;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  flex: 1;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

input, textarea {
    width: 300px;
    padding: 8px;
    border-width: 2px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: "River";
   }
   
   button {
    padding: 10px 15px;
    background-color: #003ee7;
    color: white;
    border-width: 2px;
    border-radius: 8px;
    font-family: "River";
   }
   
   button:hover {
    background-color: #030366;
   }
   
   
